</div>
    <div class="pagination-container">
    <section class="pagination" >
      {{#if firstPageRendered}}
      <a href="?page=1">1</a>
      {{/if}}
      {{#if hasPreviousPage }}
      <a href="?page={{previousPage}}"> &lt; &lt; </a>
      {{/if}}
      <a href="?page={{currentPage}}" class="active">{{currentPage}}</a>
      {{#if hasNextPage}}
      <a href="?page={{nextPage}}"> >></a>
      {{/if}}
      {{#if lastPageRendered}}
      <a href="?page={{lastPage}}">...{{lastPage}}</a>
      {{/if}}
    </section>
</div>