<div>
    {{#if emptyResultSet}}<h1>Please add some search criteria</h1>{{/if}}
    <form action="/admin" class="form-admin-default" method="POST">
        <ul>
            <li class="form-row">
                <label for="nationalId">ID/EGN:</label>
                <input type="text" name="nationalId">
            </li>
            <li class="form-row">
                <label for="email">Email:</label>
                <input type="email" name="email">
            </li>
            <li class="form-row">
                <label for="auditor">Regular</label>
                <input type="radio" class="nav-li-radio" name="accessLevel" value="regular">
                <label for="auditor">Auditor</label>
                <input type="radio" class="nav-li-radio" name="accessLevel" value="auditor">
                <label for="admin">Admin</label>
                <input type="radio"  class="nav-li-radio" name="accessLevel" value="admin">
            </li>
            <li class="form-row">
                <button type="submit">Search</button>
            </li>
        </ul>
    </form>
    <div></div>
    <div>
      {{#if hasUsers}}
      <h2>Your data:</h2>
      <div class="result-table result-table--5cols">
      <div class="result-table-cell">National ID / EGN</div>
      <div class="result-table-cell">Password</div>
      <div class="result-table-cell">Email:</div>
      <div class="result-table-cell">Docs:</div>
      <div class="result-table-cell"></div>
      {{#each users}}

      <div class="result-table-cell">{{this.nationalId}}</div>
      <div class="result-table-cell">{{this.password}}</div>
      <div class="result-table-cell">{{this.email}}</div>
      <div class="result-table-cell">    
        <a href="/results/{{this.docs}}" target="_blank">
          <i class="fa-solid fa-file-pdf fa-2xl" id="pdf-icon"></i>
        </a></div>
      <div class="result-table-cell">
        <a id="update-user-btn" href="/admin/users/edit/{{this._id}}">              
          <div>Update user</div>
        </a>
      </div>
      {{/each}}
    </div>
      {{ else}} 
      <h1>No users found</h1>
      {{/if}}
    </div>
</div>